
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

header, footer {
  border-top: 5px solid rgb(102, 170, 108);
  border-bottom: 5px solid rgb(102, 170, 108);
}

html {
  font-size: 10px;
  font-family: 'Syne Mono', monospace;
}

h1, h2 {
  font-family: josefin_slabbold, sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

section h2 + p {
  text-indent: 20px;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

a {
  outline: none;
}

a[href*="http"] {
  padding-right: 19px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}

a:link, a:visited {
  color: rgb(102, 170, 108);
}

a:focus, a:hover {
  text-decoration: none;
}

a:active {
  color: transparent;
  text-shadow: 0px 0px 1px rgb(51, 255, 0),
               0px 0px 2px rgb(21, 255, 0),
               0px 0px 3px black,
               0px 0px 4px black;
}

ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid rgb(102, 170, 108);
}

nav li a:focus, nav li a:hover {
  color: white;
  background: rgb(102, 170, 108);
}

nav li a:active {
  color: white;
  background: black;
}
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap")