
/* General setup */



* {

  box-sizing: border-box;

}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {

  margin: 0 auto;

  min-width: 1000px;

  max-width: 1400px;

}



/* Layout */



section {

  float: left;

  width: 50%;

}



aside {

  float: left;

  width: 30%;

}



nav {

  float: left;

  width: 20%;

}



footer {

  clear: both;

}

.cajas{
  border: 10px solid rgba(7, 12, 7, 0.514);
  background: rgb(96, 212, 81);
  height: 30px;
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  
}



header, section, aside, nav, footer {

  padding: 20px;

}



/* header and footer */



header, footer {

  border-top: 5px solid rgb(96, 212, 81);

  border-bottom: 5px solid rgb(96, 212, 81);

}



/* WRITE YOUR CODE BELOW HERE */